/* Buttons Style */

/* Hero Button, Need-a-Website Button */

.hero-btn, .nw-btn, .grp-btn {
	background: linear-gradient(to top left, #aaa8ba 0%, #c0ded6 100%);
	color: #3e3e43;
	padding: 12px 19px;
}

.hero-btn:hover, .nw-btn:hover {
	background: transparent;
	color: #eeeef5;
	border: solid 2px #ccdfdc;
	padding: 10px 17px;
}

/* Hero Button */

.hero-btn {
	border-radius: 21px;
	font-size: 16px;
}

/* Need-a-Website Button */

.nw-btn, .grp-btn {
	border-radius: 28px;
	font-size: 21px;
}

/* Graphics Button */

 .grp-btn:hover {
	background: transparent;
	color: #303042;
	border: solid 2px #303042;
	padding: 10px 17px;
}

/* WebTemp Btn */

.web-temp-btn, .pj-btn {
	border-radius: 25px;
	font-family: "Mulish", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.web-temp-btn {
	background: linear-gradient(to top left, #aaa8ba 0%, #c0ded6 100%);
	color: var(--col2);
	border: solid 2px #ccdfdc;
	font-size: 16px;
}

.web-temp-btn:hover {
	background: transparent;
	color: var(--col2);
	border: solid 2px var(--col2);
}

.web-temp-btn {
	padding: 12px 37px;
}

/* Projects Nav Buttons */

.pj-btn {
	background-color: #eeeef5;
	color: #3e3e43;
	border: solid 2px #eeeef5;
	font-size: 15px;
	padding: 7px 24px;
}


.pj-btn:hover {
	background-color: #3e3e43;
	color: #eeeef5;
	border: solid 2px #3e3e43;
}